* {
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    top: 0;
}

.b-building1 {
    width: 20%;
    height: 70%;
}

.b-building2 {
    width: 22%;
    height: 65%;
}

.b-building3 {
    width: 17%;
    height: 58%;
}

.b-building4 {
    width: 22%;
    height: 64%;
}

.foreground {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.f-building1 {
    width: 12%;
    height: 47%;
}

.f-building2 {
    width: 15%;
    height: 45%;
}

.f-building3 {
    width: 12%;
    height: 38%;
}

.f-building4 {
    width: 18%;
    height: 42%;
}

.f-building5 {
    width: 11%;
    height: 40%;
}