:root {
    --building-color1: #ff5858;
    --building-color2: #07beb8;
    --building-color3: #f9dc5c;
    --building-color4: #09a6f3;
    --window-color1: #ffc8c8;
    --window-color2: #68d8d6;
    --window-color3: #fae588;
    --window-color4: #07c8f9;
}

* {
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.background, .foreground {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    top: 0;
}

.window-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* BACKGROUND BUILDINGS. "BB" STANDS FOR BACKGROUND BUILDING & "B" STANDS FOR BACKGROUND */

.b-building1 {
    width: 10%;
    height: 70%;
    background: var(--building-color1);
}

.bb1-window {
    width: 9%;
    height: 80%;
    background-color: var(--window-color1);
}

.b-building2 {
    width: 10%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.bb2a {
    width: 3%;
    height: 10%;;
    background-color: black;
}

.bb2b {
    width: 50%;
    height: 8%;
    background-color: var(--building-color2);
}

.bb2c {
    width: 90%;
    height: 9%;
    background-color: var(--building-color2);
}

.bb2d {
    width: 100%;
    height: 70%;
    background: linear-gradient(
        var(--building-color2),
        var(--window-color2)
    );
}

.b-building3 {
    width: 10%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.bb3a {
    width: 0;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 5vh solid var(--building-color3);
}

.bb3b {
    width: 100%;
    height: 100%;
    background-color: var(--building-color3);
}

.b-building4 {
    width: 11%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.bb4a {
    width: 75%;
    height: 8%;
    background-color: var(--building-color4);
}

.bb4b {
    width: 80%;
    height: 8%;
    background-color: var(--building-color4);
}

.bb4c {
    width: 90%;
    height: 8%;
    background-color: var(--building-color4);
}


.bb4d {
    width: 100%;
    height: 90%;
    background: linear-gradient(
        var(--building-color4) 0%,
        var(--building-color4) 35%,
        var(--window-color4)
    );
}

/* FOREGROUND BUILDINGS */

.f-building1 {
    width: 10%;
    height: 55%;
}

.f-building2 {
    width: 10%;
    height: 40%;
}

.f-building3 {
    width: 10%;
    height: 42%;
}

.f-building4 {
    width: 8%;
    height: 45%;
}

.f-building5 {
    width: 10%;
    height: 33%;
}