* {
    box-sizing: border-box;
    border: 2px solid black;
}

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: absolute;
    top: 0;
}

.b-building1 {
    width: 14%;
    height: 60%;
}

.b-building2 {
    width: 15%;
    height: 40%;
}

.b-building3 {
    width: 14%;
    height: 35%;
}

.b-building4 {
    width: 12%;
    height: 50%;
}